<h1> All bikes</h1> 

<%= link_to  "Create new bike", new_bike_path %>

<div class="row justify-content-center" data-controller="search">
    <%= form_with(url: "/", method: :get, data: {action: "submit->search#submit"}) do |f| %>
        <%= label_tag(:query, "Search for") %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"} %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
    
    
      <!--  <%= form_tag root_path, method: :get, data: {action: "submit->search#submit"} do |f| %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"},
        class: "form-control",
        placeholder: "Find your bike"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %> 
-->

    <div id="bikes" data-target="search.bikes">
        <%= render @bikes %>
    </div>
</div>
