<h1> All bikes</h1> 

<%= link_to  "Create new bike", new_bike_path %>

<!-- <div class="row justify-content-center" data-controller="search">
      <%= form_with(url: "/", method: :get, data: {action: "submit->search#submit"}) do |f| %>
          <%= label_tag(:query, "Search for") %>
          <%= text_field_tag :query, params[:query], data: {target: "search.query"} %>
          <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>


    <div id="bikes" data-target="search.bikes">
        <%= render @bikes %>
    </div>
</div>-->

<div data-controller="select-filter" data-select-filter-url="<%= bikes_filter_path %>">
  <%= form_with(url: "/", method: :get, data: {action: "submit->search#submit"}) do |f| %>
          <%= label_tag(:query, "Search for") %>
          <%= text_field_tag :query, params[:query], data: {target: "search.query"} %>
          <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
  <div class="left-col">
    <h2>Filter brands:</h2>
    <select name="brands" multiple size="<%= @brands.length %>"  data-action="select-filter#change">
      <%= @brands.each do |brand| %>
        <option value="<%= brand %>"><%= brand.humanize %></option>
      <% end %>
    </select>
     <select name="statuses" multiple size="<%= @statuses.length %>"  data-action="select-filter#change">
      <%= @statuses.each do |status| %>
        <option value="<%= status %>"><%= status %></option>
      <% end %>
    </select>
  </div>
  <div class="right-col" data-target="select-filter.bikes">
    <%= render @bikes %>
  </div>
</div>
