<h1> <%= @bike.name %> </h1>
<%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
<p> <b>Brand:</b> <%= @bike.brand %> </p>
<p> <b>Description:</b> <%= @bike.description %> </p>
<p> <b>Status:</b> <%= @bike.status %> </p>
<p> <b>Weight:</b> <%= @bike.weight %> </p>
<p> <b>Weight capacity:</b> <%= @bike.weight_capacity %> </p>
<p> <b>Price:</b> <%= @bike.price %> </p>
<p> <b>Frame:</b> <%= @bike.frame %> </p>
<p> <b>Fork:</b> <%= @bike.fork %> </p>
<p> <b>Tire max width:</b> <%= @bike.tire_max_width %> </p>
<p> <b>Equipment:</b> <%= @bike.equipment %> </p>
<p> <b>Front speeds:</b> <%= @bike.front_speeds %> </p>
<p> <b>Cassette speeds:</b> <%= @bike.cassette_speeds %> </p>
<p> <b>Brake:</b> <%= @bike.brake %> </p>
<p> <b>Brake type:</b> <%= @bike.brake_type %> </p>
<p> <b>Handlebar:</b> <%= @bike.handlebar %> </p>
<p> <b>Handlebar type:</b> <%= @bike.handlebar_type %> </p>
<p> <b>Seat:</b> <%= @bike.seat %> </p>
<p> <b>Wheel rims:</b> <%= @bike.wheel_rims %> </p>
<p> <b>Wheel hubs:</b> <%= @bike.wheel_hubs %> </p>
<p> <b>Wheel tires:</b> <%= @bike.wheel_tires %> </p>
<p> <b>Lights:</b> <%= @bike.lights %> </p>
<p> <b>Fenders:</b> <%= @bike.fenders %> </p>
<p> <b>Rack:</b>     <%= @bike.rack %> </p>


<%= link_to  "Edit", edit_bike_path(@bike) %>
<%= link_to "Delete ", bike_path(@bike), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to  "Back", bikes_path %>
